# Rename this file to .env and fill in your own values

# MySQL database settings
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=chat_app


# Server settings
PORT=5000

# JWT secret key (any long random string)
JWT_SECRET=enterYourPassword
